<!doctype html>
<title>Preditor Diabetes</title> 
    <head>
        <meta charset="UTF-8">
        <title>Deploy Predictbetes</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="main2.css">
    </head>

    <body>
        <h1>Preditor de Diabetes</h1>
        <p class="descrição">Preencha o formulário abaixo para saber se você tem ou não diabetes</p>
        <form action="http://localhost:5000" method="POST">

            <div class="container">
                <span class="inputes">
                    <label for="age">Idade</label>
                    <input type="text" name="age" required="required" />
                </span>    

                <span class="inputes">
                    <label for="polyuria_yes">Poliúria</label>
                    <input type="checkbox" name="polyuria_yes"/>
                </span>

                <span class="inputes">
                    <label for="polydipsia_yes">Polidipsia</label>
                    <input type="checkbox" name="polydipsia_yes"/>
                </span>

                <span class="inputes">
                    <label for="visual_blurring_yes">Visão embaçada</label>
                    <input type="checkbox" name="visual_blurring_yes"/>
                </span>

                <span class="inputes">
                    <label for="itching_yes">Coceira</label>
                    <input type="checkbox" name="itching_yes"/>
                </span>

                <span class="inputes">
                    <label for="delayed_healing_yes">Cicatrização tardia</label>
                    <input type="checkbox" name="delayed_healing_yes"/>
                </span>

                <span class="inputes">
                    <label for="partial_paresis_yes">Paresis parcial</label>
                    <input type="checkbox" name="partial_paresis_yes"/>
                </span>
                
                <span class="inputes">
                    <label for="alopecia_yes">Alopecia</label>
                    <input type="checkbox" name="alopecia_yes"/>
                </span>

                <span class="inputes">
                    <label for="obesity_yes">Obesidade</label>
                    <input type="checkbox" name="obesity_yes"/>
                </span>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Resultado</button>
        </form>


    </body>

    </html>
