<!doctype html>
<title>Preditor Diabetes</title> 
    <head>
        <meta charset="UTF-8">
        <title>Deploy Predictbetes</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="main2.css">
    </head>

    <body>
        <h1>Preditor de Diabetes</h1>
        <p class="descrição">Preencha o formulário abaixo para saber se você tem ou não diabetes</p>
        <form action="http://localhost:5000" method="POST">

            <div class="container">
                <span class="inputes">
                    <label for="age">Idade</label>
                    <input type="text" name="age" required="required" />
                </span>    

                <span class="inputes">
                    <label for="polyuria_yes">Poliúria</label>
                    <input type="checkbox" name="polyuria_yes"/>
                </span>

                <span class="inputes">
                    <label for="polydipsia_yes">Polidipsia</label>
                    <input type="checkbox" name="polydipsia_yes"/>
                </span>

                <span class="inputes">
                    <label for="visual_blurring_yes">Visão embaçada</label>
                    <input type="checkbox" name="visual_blurring_yes"/>
                </span>

                <span class="inputes">
                    <label for="itching_yes">Coceira</label>
                    <input type="checkbox" name="itching_yes"/>
                </span>

                <span class="inputes">
                    <label for="delayed_healing_yes">Cicatrização tardia</label>
                    <input type="checkbox" name="delayed_healing_yes"/>
                </span>

                <span class="inputes">
                    <label for="partial_paresis_yes">Paresis parcial</label>
                    <input type="checkbox" name="partial_paresis_yes"/>
                </span>
                
                <span class="inputes">
                    <label for="alopecia_yes">Alopecia</label>
                    <input type="checkbox" name="alopecia_yes"/>
                </span>

                <span class="inputes">
                    <label for="obesity_yes">Obesidade</label>
                    <input type="checkbox" name="obesity_yes"/>
                </span>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Gerar resultado</button>
        </form>

        <p>A probabilidade de você ser diabética(o) é: {{probabilidade}}</p>

        <h2>Informações sobre os sintomas</h2>

        <ul>
            <li>
                Poliúria: aumento significativo na produção de urina, maior do que 2,5 litros por dia. Não confundir com necessidade de se urinar várias vezes por dia. Condição também conhecida como diurese, é um dos sintomas mais comuns em pessoas com diabetes não controlada.
            </li>
            <li>
                Polidipsia: sede excessiva. Geralmente acompanhada de poliúria (ver acima).
            </li>
            <li>
                Visão embaçada: diabetes pode causar o aparecimento de diversos problemas que afetam a visão. Os problemas mais recorrentes são glaucoma e catarata.
            </li>
            <li>
                Coceira: geralmente ocorre nas mão, pés, braços e pernas. A glicose elevada no sangue pode causar condições que provocam a coceira e aparecimento de sintomas na pele.
            </li>
            <li>
                Cicatrização tardia: demora na cicatrização de feridas.
            </li>
            <li>
                Paresia: diabetes não controlada pode afetar um ou mais nervos, causando fraqueza, dor, dormência e até mesmo paralisia de partes do corpo.
            </li>
            <li>
                Alopecia: queda de cabelo ou pelo, geralmente em áreas restritas.
            </li>
            <li>
                Obesidade: Índice de massa corporal superior a 30.
            </li>
        </ul>


    </body>

    </html>
