<!doctype html>
<title>Preditor Diabetes</title> 
    <head>
        <meta charset="UTF-8">
        <title>Deploy Predictbetes</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" type="text/css" href="main2.css">
    </head>

    <body>
        <h1>Preditor de Diabetes</h1>
        <p class="descrição">Preencha o formulário abaixo para saber se você tem ou não diabetes</p>
        <form action="http://localhost:5000" method="POST">

            <div class="container">
                <span class="inputes">
                    <label for="age">Idade</label>
                    <input type="number" name="age" placeholder="age" required="required" />
                </span>    

                <span class="inputes">
                    <label for="polyuria_yes">Poliúria</label>
                    <input type="number" name="polyuria_yes" placeholder="polyuria_yes" required="required" />
                </span>

                <span class="inputes">
                    <label for="polydipsia_yes">Polidipsia</label>
                    <input type="checkbox" name="polydipsia_yes" placeholder="polydipsia_yes"/>
                </span>

                <span class="inputes">
                    <label for="weakness_yes">Fraqueza</label>
                    <input type="number" name="weakness_yes" placeholder="weakness_yes" required="required" />
                </span>

                <span class="inputes">
                    <label for="visual_blurring_yes">Visão Embaçada</label>
                    <input type="number" name="visual_blurring_yes" placeholder="visual_blurring_yes" required="required" />
                </span>

                <span class="inputes">
                    <label for="delayed_healing_yes">Cicatrização tardia</label>
                    <input type="number" name="delayed_healing_yes" placeholder="delayed_healing_yes" required="required" />
                </span>
                
                <span class="inputes">
                    <label for="alopecia_yes">Alopecia</label>
                    <input type="number" name="alopecia_yes" placeholder="alopecia_yes" required="required" />
                </span>

                <span class="inputes">
                    <label for="obesity_yes">Obesidade</label>
                    <input type="number" name="obesity_yes" placeholder="obesity_yes" required="required" />
                </span>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Resultado</button>
        </form>


    </body>

    </html>
